<div class="sfondo">
    <h1 class="titolo">Scelte del mese:</h1>
    <div class="inizio">
        <div class="card-body">
            <h2>Parigi</h2>
            <p>Nella seguente pagina potrai trovare una piccola descrizione della nostra azienda e del lavoro che svolgiamo</p>
            <a href="html/Negozio/chi_siamo.html" class="button">Itinerario</a>
        </div>
        <div class="card-body">
            <h2>Londra</h2>
            <p>Nella seguente pagina potrai vedere tutti i contatti per potermi segnalare qualsiasi problema o consiglio</p>
            <a href="html/Negozio/contatti.html" class="button">Itinerario</a>
        </div>
        <div class="card-body">
            <h2>Tokyo</h2>
            <p>Nella seguente pagina potrai trovare l'indirizzo del nostro negozo alla quale potrai venire a trovarci e comprare quello che preferisci</p>
            <a href="html/Negozio/sedi.html" class="button">Itinerario</a>
        </div>
    </div><br>

<div class="content">
    <div class="testoParigi">
        <h2>Parigi</h2>
        <p>Parigi, la Ville Lumière, incanta con la sua bellezza senza tempo. I suoi monumenti iconici come la Torre Eiffel e il Louvre, le affascinanti strade acciottolate di Montmartre, e gli eleganti boulevard invitano a esplorare la sua storia e cultura. Dai caffè affollati alle rive della Senna, Parigi offre esperienze culinarie, artistiche e romantiche uniche al mondo. Una città che ispira, seduce e incanta ogni visitatore con il suo fascino senza pari.</p>
        <a class="button">Scopri</a>
    </div>
    <div class="fotoParigi">
        <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/12/2e/16/f8.jpg" alt="Immagine">
    </div>
</div>
<div class="content">
    <div class="testoLondra">
        <h2>Londra</h2>
        <p>Parigi, la Ville Lumière, incanta con la sua bellezza senza tempo. I suoi monumenti iconici come la Torre Eiffel e il Louvre, le affascinanti strade acciottolate di Montmartre, e gli eleganti boulevard invitano a esplorare la sua storia e cultura. Dai caffè affollati alle rive della Senna, Parigi offre esperienze culinarie, artistiche e romantiche uniche al mondo. Una città che ispira, seduce e incanta ogni visitatore con il suo fascino senza pari.</p>
        <a class="button">Scopri</a>
    </div>
    <div class="fotoLondra">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Tower_Bridge_London_2016.jpg" alt="Immagine">
    </div>
</div>
<div class="content">
    <div class="testoTokyo">
        <h2>Tokyo</h2>
        <p>Parigi, la Ville Lumière, incanta con la sua bellezza senza tempo. I suoi monumenti iconici come la Torre Eiffel e il Louvre, le affascinanti strade acciottolate di Montmartre, e gli eleganti boulevard invitano a esplorare la sua storia e cultura. Dai caffè affollati alle rive della Senna, Parigi offre esperienze culinarie, artistiche e romantiche uniche al mondo. Una città che ispira, seduce e incanta ogni visitatore con il suo fascino senza pari.</p>
        <a class="button">Scopri</a>
    </div>
    <div class="fotoTokyo">
        <img src="https://www.civitatis.com/blog/wp-content/uploads/2022/11/calle-akihabara-tokio.jpg" alt="Immagine">
    </div>
</div>
<div class="content">
    <div class="testoMilano">
        <h2>Milano</h2>
        <p>Parigi, la Ville Lumière, incanta con la sua bellezza senza tempo. I suoi monumenti iconici come la Torre Eiffel e il Louvre, le affascinanti strade acciottolate di Montmartre, e gli eleganti boulevard invitano a esplorare la sua storia e cultura. Dai caffè affollati alle rive della Senna, Parigi offre esperienze culinarie, artistiche e romantiche uniche al mondo. Una città che ispira, seduce e incanta ogni visitatore con il suo fascino senza pari.</p>
        <a class="button">Scopri</a>
    </div>
    <div class="fotoMilano">
        <img src="https://media.istockphoto.com/id/493223692/it/foto/duomo-di-milano-italia.jpg?s=612x612&w=0&k=20&c=X8QrI64NuylVeasXYRnKoj2LEHJNgI5OcVwoQwzd0bo=" alt="Immagine">
    </div>
</div>
<div class="content">
    <div class="testoNY">
        <h2>New York</h2>
        <p>New York, la Ville Lumière, incanta con la sua bellezza senza tempo. I suoi monumenti iconici come la Torre Eiffel e il Louvre, le affascinanti strade acciottolate di Montmartre, e gli eleganti boulevard invitano a esplorare la sua storia e cultura. Dai caffè affollati alle rive della Senna, Parigi offre esperienze culinarie, artistiche e romantiche uniche al mondo. Una città che ispira, seduce e incanta ogni visitatore con il suo fascino senza pari.</p>
        <a class="button">Scopri</a>
    </div>
    <div class="fotoNY">
        <img src="https://images.lonelyplanetitalia.it/static/places/new-york-city-319.jpg?q=90&p=2400%7C1350%7Cmax&s=d0b66f564422dd0d2d51bc78ee7c7dbd" alt="Immagine">
    </div>
</div>
</div>
