<div class="sfondo">
    <video id="background-video" autoplay loop muted >
        <source src="../assets/Terra ｜ Universo ｜ Spazio 4K Full HD.mp4" type="video/mp4">
    </video>
    <navigation (paginaEvento)="paginaNavbar($event)"></navigation>

    <ng-template *ngIf = "pagina == 'biglietto'; then bloccoBiglietto"></ng-template>
    <ng-template #bloccoBiglietto>
        <br><list></list>
    </ng-template>
    
    <ng-template *ngIf = "pagina == 'home'; then bloccoHome"></ng-template>
    <ng-template #bloccoHome>
        <!--<h2 class="titolo">Astra & Co.</h2>-->
        <introduction></introduction>
    </ng-template>
</div>





