.titolo {
    font-family: "Arial", sans-serif; 
    font-size: 3em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'NasaFont';
}

.sfondo img{
    position: fixed;
    filter: brightness(15%);
    height: 100%;
    z-index: -1;
}

@font-face {
    font-family: 'NasaFont';
    src: url('../assets/nasalization-rg.otf') format('truetype');
}