<div class="sfondo">
    <img src="https://media-assets.wired.it/photos/6512a7c0e5927092b4084e58/16:9/w_2560%2Cc_limit/1253695434" alt="sfondo">
    <navigation (paginaEvento)="paginaNavbar($event)"></navigation>

    <ng-template *ngIf = "pagina == 'biglietto'; then bloccoBiglietto"></ng-template>
    <ng-template #bloccoBiglietto>
        <br><list></list>
    </ng-template>
    
    <ng-template *ngIf = "pagina == 'home'; then bloccoHome"></ng-template>
    <ng-template #bloccoHome>
        <!--<h2 class="titolo">Astra & Co.</h2>-->
        <introduction></introduction>
    </ng-template>
</div>




<!--<video id="background-video" autoplay loop muted >
  <source src="../assets/Galaxy in 4K ║ Animation Overlay for Edits ║ Motion Background Free Beautiful HD Video Effect.mp4" type="video/mp4">
</video>-->
