.sfondo{
    background-image: url(sfondo\ cs.jpeg);
}
.container1 {
    display: flex; /* Rende tutto responsive, pulito*/
    flex-direction: row; /* Carte in orizzontale*/
    justify-content: center;
}

.container2 {
    display: flex; /* Rende tutto responsive, pulito*/
    flex-direction: row; /* Carte in verticale*/
    justify-content: center;    
}

.card-body {
    padding: 20px;
    border-radius: 10px; /* Angoli smussati */
    margin-right: 20px; /* Aggiungi un margine di 2 pixel a destra */
}

.foto{
    border-radius: 15px; /* Angoli smussati */
    width: 200px;
    margin-right: 20px; /* Aggiungi un margine di 2 pixel a destra */
}
.logo{
    display: flex;
    justify-content: center;
}

.vs img{
    width: 200px;
}

.vs{
    display: flex;
    justify-content: center;
}