.sfondo{
    background-image: url(sfondo\ cs.jpeg);
}
.container1 {
    display: flex; /* Rende tutto responsive, pulito*/
    flex-direction: row; /* Carte in orizzontale*/
    justify-content: center;
}

.descrizione{
    margin-right: 30px;
    border-radius: 30px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.673);
}

.arancione{
    background-color: #D74E09;
}

.blu{
    background-color: #124E78;
}
.giallo{
    background: rgb(214, 161, 81);
}

.container2 {
    display: flex; /* Rende tutto responsive, pulito*/
    flex-direction: row; /* Carte in verticale*/
    justify-content: center;    
}

.card-body {
    padding: 20px;
    border-radius: 10px; /* Angoli smussati */
    margin-right: 20px; /* Aggiungi un margine di 2 pixel a destra */
}

.bottone{
    display: flex;
    justify-content: center;    
    background-color: black; /* Cambia il colore come desideri */
    color: white; /* Cambia il colore del testo, se necessario */
    border: none; /* Rimuove i bordi se necessario */
    padding: 10px 20px; /* Aggiunge spazio interno al bottone */
    border-radius: 5px; /* Aggiunge un bordo arrotondato al bottone */
}

.foto{
    border-radius: 15px; /* Angoli smussati */
    width: 310px;
    margin-right: 20px; /* Aggiungi un margine di 2 pixel a destra */
    margin-bottom: 5px;
}
.logo{
    display: flex;
    justify-content: center;
}

.vs img{
    width: 200px;
}

.vs{
    display: flex;
    justify-content: center;
}

.card-text{
    font-weight: bolder;
    font-size: 17px;
}

.navi img{
    width: 200px;
    margin-right: 70px;
    margin-top: 20px;
}

.fnatic img{
    width: 200px;
    margin-left: 70px;
    margin-top: 45px;

}

.squadre{
    display: flex; /* Rende tutto responsive, pulito*/
    flex-direction: row; /* Carte in verticale*/
    justify-content: center;
}

.testo{
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 50px;
}

.ui.label {
    background-color:bisque;
    font-size: 22px;
}
