<ng-template *ngIf = "poke === 'start'; then bloccoElse"></ng-template>
<ng-template #bloccoElse>
   
    <h1 class="testo-pokemon">Prima generazione</h1>
    <div class="container">
        <div *ngFor="let element of pokemon.slice(0, 3); let i = index">
            <div class="card-body">
                <div class="section">
                    <h1 class="nome" [ngClass]="{'rosso': element.colore=='rosso', 'verde': element.colore=='verde', 'blu': element.colore=='blu'}">{{element.nome}}</h1>
                    <img class="fotoMain" [src]="element.immagine">
                    <button class="button" (click)="setTew(element.nome)" [ngClass]="{'btnrosso': element.colore=='rosso', 'btnverde': element.colore=='verde', 'btnblu': element.colore=='blu'}">Cliccami</button><br>
                </div>
            </div>
        </div>
    </div>
    
    <h1 class="testo-pokemon">seconda generazione</h1>
    
    <div class="container">
        <div *ngFor="let element of pokemon.slice(3, 6); let i = index">
            <div class="card-body">
                <div class="section">
                    <h1 class="nome" [ngClass]="{'rosso': element.colore=='rosso', 'verde': element.colore=='verde', 'blu': element.colore=='blu'}">{{element.nome}}</h1>
                    <img class="foto" [src]="element.immagine">
                    
                    <button class="button" (click)="toggleCollapse(element.nome)" [ngClass]="{'btnrosso': element.colore=='rosso', 'btnverde': element.colore=='verde', 'btnblu': element.colore=='blu'}">Cliccami</button><br>
                   
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template *ngIf = "poke === 'Bulbasaur'; then bloccoTew"></ng-template>
<ng-template #bloccoTew>
    <div class="container"><br><br>
        <div class="card-body">
            <a class="button" id="sinistra" href="reload()">Torna alla home</a><br><br>
                <h1 class="titolo" [ngClass]="{'rosso': pokemon[0].colore=='rosso', 'verde': pokemon[0].colore=='verde', 'blu': pokemon[0].colore=='blu'}">{{pokemon[0].nome}}</h1>
                <img class="foto" [src]="pokemon[0].immagine">
                <div class="statistiche" [ngClass]="{'bgrosso': pokemon[0].colore=='rosso', 'bgverde': pokemon[0].colore=='verde', 'bgblu': pokemon[0].colore=='blu'}">
                    <p>{{pokemon[0].numero}}</p>
                    <p>{{pokemon[0].altezza}}</p>
                    <p>{{pokemon[0].categoria}}</p>
                    <p>{{pokemon[0].abilita}}</p>
                    <p>{{pokemon[0].peso}}</p>
                </div><br>
                <div class="divMappa" id="centro">
                    <button class="button" id="centro" (click)="toggleCollapse('carta1')">Cercami sulla mappa</button>
                    <br>
                    <div *ngIf="isCollapsed['carta1']" id="centro" class="mappa"><br>
                        <p>Locations: In Blue/Red, your are able to receive Bulbasaur in the very beginning from Professor Oak. If you have picked Charmander or Squirtle as your first Pokémon, you can only receive Bulbasaur through trade or by beating Pokémon Stadium's Gym Leader mode. In Yellow, you can get a free Bulbasaur in Cerulean City.</p>
                    </div>   
                </div>           
        </div>
    </div>
    <br><br>
</ng-template>
<ng-template *ngIf = "poke === 'Charmander'; then Charmander"></ng-template>
<ng-template #Charmander>
    <div class="container">
        <div>
            <div class="card-body">
                <div class="section">
                    <h1 class="nome" [ngClass]="{'rosso': pokemon[1].colore=='rosso', 'verde': pokemon[1].colore=='verde', 'blu': pokemon[1].colore=='blu'}">{{pokemon[1].nome}}</h1>
                    <img class="foto" [src]="pokemon[1].immagine">
                    <div class="statistiche" [ngClass]="{'bgrosso': pokemon[1].colore=='rosso', 'bgverde': pokemon[1].colore=='verde', 'bgblu': pokemon[1].colore=='blu'}">
                        <p>{{pokemon[1].numero}}</p>
                        <p>{{pokemon[1].altezza}}</p>
                        <p>{{pokemon[1].categoria}}</p>
                        <p>{{pokemon[1].abilita}}</p>
                        <p>{{pokemon[1].peso}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template *ngIf = "poke === 'Squirtle'; then Squirtle"></ng-template>
<ng-template #Squirtle>
    <div class="container">
        <div>
            <div class="card-body">
                <div class="section">
                    <h1 class="nome" [ngClass]="{'rosso': pokemon[2].colore=='rosso', 'verde': pokemon[2].colore=='verde', 'blu': pokemon[2].colore=='blu'}">{{pokemon[2].nome}}</h1>
                    <img class="foto" [src]="pokemon[2].immagine">
                    <div class="statistiche" [ngClass]="{'bgrosso': pokemon[2].colore=='rosso', 'bgverde': pokemon[2].colore=='verde', 'bgblu': pokemon[2].colore=='blu'}">
                        <p>{{pokemon[2].numero}}</p>
                        <p>{{pokemon[2].altezza}}</p>
                        <p>{{pokemon[2].categoria}}</p>
                        <p>{{pokemon[2].abilita}}</p>
                        <p>{{pokemon[2].peso}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>