<div *ngFor="let element of biglietti ">
    <div class="container">
        <div class="prodotto">
            <h2>{{ element.destinazione }}</h2>
            <img [src]="element.immagine">
            <p>Sistema di appartenenza: {{element.sistemaSolare}}</p>
            <p>Durata Viaggio in Anni Luce: {{element.durata}}</p>
            <p>Spazioporto di partenza: {{element.spazioPorto}}</p>
            <p>Data di partenza: {{element.partenza}}</p>
            <p>Data di arrivo: {{element.arrivo}}</p>
            <p>Prezzo biglietto: {{element.costo}}</p>
        </div>
    </div>
</div>

<!--[ngClass]="{'arancione': element.categoria==' Salato', 'giallo': element.categoria==' Dolce'}"-->