.prodotto {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.prodotto h2 {
    margin-top: 0;
}

.prodotto p {
    margin: 5px 0;
}

.prodotto img{
    width: 170px;
    float: right;
    margin-bottom: 30px;
    margin-right: 20px;
}


