.navbar-nav{
    border-radius: 10px;
    background-color: rgb(229, 227, 227);
    margin-right: 10px
}

.navbar{
    background-color: lightgray;
}

button{
    margin: 0px 5px;
    /*background-color: rgb(240, 240, 240);*/
    padding: 10px;
    border-radius: 10px;
    color: grey;
}

.nav-link:hover {
    font-size: 1.2em;
    color: black; 
}
.nav-link {
    transition: all 0.3s ease;
}